<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="fg" (ngSubmit)="submit()">
    <ion-list mode="ios">
      <ion-list-header class="ion-text-center">
        <ion-label>ลงทะเบียน CA KKUIC</ion-label>
      </ion-list-header>
      <ion-item mode="ios">
        <ion-label position="stacked" mode="ios">ชื่อ-นามสกุล (ภาษาไทย)</ion-label>
        <ion-input type="text" formControlName="nameTH"></ion-input>
      </ion-item>
      <ion-radio-group formControlName="status" [(ngModel)]="statusType">
        <ion-list-header>
          <ion-label>ประเภท</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>นักเรียน</ion-label>
          <ion-radio slot="start" value="Student"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>นักศึกษา</ion-label>
          <ion-radio slot="start" value="Scholar"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>บุคคลทั่วไป</ion-label>
          <ion-radio slot="start" value="Guest"></ion-radio>
        </ion-item>
      </ion-radio-group>
      <ion-radio-group *ngIf="statusType == Student || statusType == Scholar">
        <ion-list-header>
          <ion-label>สถาบันการศึกษา</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>มหาวิทยาลัยขอนแก่น</ion-label>
          <ion-radio slot="start" value="kku"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>สถาบันการศึกษา อื่นๆ</ion-label>
          <ion-radio slot="start" value="other"></ion-radio>
        </ion-item>
      </ion-radio-group>
      <!-- <ion-item mode="ios" *ngIf="statusType == Student || statusType == Scholar">
        <ion-label position="stacked" mode="ios">ชื่อสถาบันการศึกษา</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item> -->
      <!-- <ion-item mode="ios" *ngIf="statusType == Scholar && universityType == kku">
        <ion-label position="stacked" mode="ios">คณะ และ สาขา</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item mode="ios" *ngIf="statusType == Scholar && universityType == kku">
        <ion-label position="stacked" mode="ios">รหัสนักศึกษา</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item> -->

      <ion-item mode="ios" class="ion-padding-top">
        <ion-checkbox color="danger" formControlName="registerMovie" [(ngModel)]="registerMovie"></ion-checkbox>
        <ion-label mode="ios">แข่งขันประกวดหนังสั้น</ion-label>
      </ion-item>
      <ion-item mode="ios" [hidden]="!registerMovie">
        <ion-label position="stacked" mode="ios">ชื่อ-นามสกุล (ภาษาอังกฤษ)</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item mode="ios" [hidden]="!registerMovie">
        <ion-label position="stacked" mode="ios">ชื่อทีม</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item mode="ios">
        <ion-checkbox color="danger" formControlName="registerPoster" [(ngModel)]="registerPoster"></ion-checkbox>
        <ion-label mode="ios">แข่งขันประกวดออกแบบ Poster</ion-label>
      </ion-item>
      <ion-item mode="ios" [hidden]="!registerPoster">
        <ion-label position="stacked" mode="ios">ชื่อ-นามสกุล (ภาษาอังกฤษ)</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item mode="ios" [hidden]="!registerPoster">
        <ion-label position="stacked" mode="ios">ชื่อทีม</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item mode="ios">
        <ion-checkbox color="danger" formControlName="registerCosplay" [(ngModel)]="registerCosplay"></ion-checkbox>
        <ion-label mode="ios">แข่งขันประกวด Cosplay</ion-label>
      </ion-item>
      <ion-item mode="ios" [hidden]="!registerCosplay">
        <ion-label position="stacked" mode="ios">ชื่อ-นามสกุล (ภาษาอังกฤษ)</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item mode="ios" [hidden]="!registerCosplay">
        <ion-label position="stacked" mode="ios">ชื่อที่ใช้ในการประกวด</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item mode="ios" [hidden]="!registerCosplay">
        <ion-label position="stacked" mode="ios">ชื่อตัวละคร</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item mode="ios">
        <ion-checkbox color="danger" formControlName="registerROV" [(ngModel)]="registerROV"></ion-checkbox>
        <ion-label mode="ios">แข่งขัน CA Showcase ROV Competition</ion-label>
      </ion-item>
      <ion-item mode="ios" [hidden]="!registerROV">
        <ion-label position="stacked" mode="ios">ชื่อ-นามสกุล (ภาษาอังกฤษ)</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item mode="ios" [hidden]="!registerROV">
        <ion-label position="stacked" mode="ios">ชื่อทีม</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

    </ion-list>

    <ion-button id="app-form-submit" type="submit" color="danger" [disabled]="fg.invalid" expand="full">สมัคร
    </ion-button>
  </form>
</ion-content>