@{
    var url = new Uri($"{Context.Request.Scheme}://{Context.Request.Host}");

    if (System.IO.File.Exists("wwwroot/index.html"))
    {
        var indexFile = System.IO.File.ReadAllText("wwwroot/index.html");
        var contents = indexFile.Split("<app-root></app-root>");
        @Html.Raw(contents[0])
        @RenderBody()
        @Html.Raw(contents[1])
    }
    else
    {
        <br />
        <br />
        @RenderBody()
        <h1 style="text-align:center">
            Can not find index.html
            <br />
            <a href="swagger">Swagger</a>
        </h1>

    }
}