@{
    ViewData["Title"] = "Qr";
}
<div class="text-center">
    <img src="https://chart.googleapis.com/chart?cht=qr&chl=https://qr.manal.ink/np/nafmdtl-637189078984691166&chs=500x500&choe=UTF-8&chld=H|2%27%20rel=%27nofollow" />
</div>

